<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    
    <center>
        <h1>Research Paper Database</h1>
        <h3>Table Data</h3>
        <hr>
        <table>
     <!--       <div class="container-fluid p-0">
                <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
                    <a href="index.html" class="navbar-brand ml-lg-3">
                        <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>Research Hub</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                        <div class="navbar-nav mx-auto py-0">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="about.html" class="nav-item nav-link">About Us</a>
                            <a href="course.html" class="nav-item nav-link">Researches</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Facilities</a>
                                <div class="dropdown-menu m-0">
                                    <a href="detail.html" class="dropdown-item">Topics</a>
                                    <a href="feature.html" class="dropdown-item">Our Features</a>
                                    <a href="team.html" class="dropdown-item">Famous Publishers</a>
                                    <!-- <a href="testimonial.html" class="dropdown-item">Testimonial</a> 
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                            <div class="input-group-append">
                                <a href="signup.html" button class="btn btn-primary px-4">Sign Up</button> </a>
                            </div>
                        </div>
                        <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Join Us</a>
                    </div>
                </nav>
            </div> -->
            <tr>
                <th><a href="/users" target="_blank">User</a></th>
                <th><a href="/research_paper" target="_blank">Reserach</a></th>
               
            </tr>
            <tr>
                <th><a href="{% url 'insert_research' %}">Insert Data</a></th>
            </tr>
           
        </table>
        
    </center>
</body>
</html>